[submodule "sass/compass-recipes"]
	path = sass/compass-recipes
	url = https://github.com/MoOx/compass-recipes.git
[submodule "sass/compass"]
	path = sass/compass
	url = https://github.com/chriseppstein/compass.git
[submodule "sass/sass-compiler"]
	path = sass/sass-compiler
	url = https://github.com/nex3/sass.git
[submodule "sass/sass-repo"]
	path = sass/sass-repo
	url = https://github.com/caraya/sass-repo.git
[submodule "xml/docbook"]
	path = xml/docbook
	url = https://github.com/docbook/docbook.git
[submodule "xml/dbstylesheets20"]
	path = xml/dbstylesheets20
	url = https://github.com/docbook/xslt20-stylesheets.git
[submodule "xml/dbstylesheets20-resources"]
	path = xml/dbstylesheets20-resources
	url = https://github.com/docbook/xslt20-resources.git
[submodule "templates/ahab"]
	path = templates/ahab
	url = https://github.com/cmod/ahab.git
[submodule "templates/bibliotype"]
	path = templates/bibliotype
	url = https://github.com/cmod/bibliotype.git
[submodule "js/emphasis"]
	path = js/emphasis
	url = https://github.com/NYTimes/Emphasis.git
[submodule "js/jquery.tap"]
	path = js/jquery.tap
	url = https://github.com/aarongloege/jquery.tap.git
